.movieinfobar-wrap {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    height: auto;
    box-sizing: border-box;
    font-family: Abel, sans-serif;
    font-size: 20px;
    background: rgb(28, 28, 28);
    padding: 20px;
}
.movieinfobar-content {
    max-width: 1280px;
    width: 100%;
    color: rgb(255, 255, 255);
    margin: 0px auto;
}
.movieinfobar-content-col {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px 20px 0px 0px;
}
.movieinfobar-info {
    float: left;
    padding: 5px 0px 0px 10px;
}

.fa {
    float: left;
    margin-top: -4px;
}